.characters {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}
.characters img {
    height: 130px;
}

.characters p {
    margin: 0;
    font-weight: bold;
}

.characters div {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    transition-property: background-color outline;
    transition: 300ms ease-in-out;
}

.characters div.found {
    outline: 3px solid rgb(33, 241, 33);
    background-color: rgb(200, 252, 200);
    border: 0;
}

.characters > p {
    color: white;
    width: min-content;
    font-size: 2rem;
}
