.notification {
    position: fixed;
    top: 20px;
    width: 160px;
    padding: 10px;
    left: 50%;
    background-color: white;
    border: 1px solid black;
    transform: translateX(-50%);
    text-align: center;
}
.notification.not-found {
    background-color: red;
}

.notification.found {
    background-color: green;
}
